# Игнорирай Git и Markdown файлове
.git
*.md

# Игнорирай всички .env файлове
.env*

# Игнорирай node_modules директория
node_modules/

# Игнорирай директории с логове
logs/
*.log

# Игнорирай директорията за кеш на Composer
vendor/

# Игнорирай специфични конфигурационни файлове
.dockerignore
Dockerfile
docker-compose.yml

# Игнорирай директории, които обикновено съдържат временни или генерирани от средата за разработка файлове
.idea/
.vscode/
nbproject/